/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* General style rules */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

button, i {
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}


/* Variables */
$pink: rgb(200, 106, 110);
$neutral: rgb(248, 235, 233);


/* Main grid */
.main-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}


/* Header */
header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 32px 8vw;
  background: $pink;
  color: white;
  position: relative;
  box-shadow: 0 4px 4px -4px rgb(167, 167, 167);

  a {
    color: white;
    text-decoration: none;
  }
}

h1 a:hover {
  color: darken(white, 5%); 
}

.fa-github {
  font-size: 1.9rem;
  transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
  opacity: 1;
}


/* Main */
main {
  display: grid;
  background: $neutral;
  padding: 32px 8vw;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 48px;
}

.books__book {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 16px;
  height: 220px;
  max-width: 700px;
  border-radius: 8px;
  background: white;
  color: $pink;
  font-size: 1.2rem;
  box-shadow: 2px 2px 4px 1px rgb(197, 197, 197);
}

.book__info {
  display: grid;
  justify-self: center;
  align-self: center;
  justify-items: center;
  gap: 8px;
}

.book__title {
  font-weight: bold;
}

.book__icons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  font-size: 1.4rem;
  justify-self: right;
  align-self: end;
}


/* Book form */
.add-book {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: $pink;
  color: white;
  font-size: 1.8rem;
  transition: 0.5s ease;
}
  
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

.book-form {
  display: grid;
  gap: 32px;
  padding: 32px;
  border-radius: 8px;
  background: white;
  color: $pink;
  font-weight: 600;
  box-shadow: 2px 2px 4px 1px rgb(128, 128, 128);
  transform: scale(0);
  transition: 0.5s ease;
  /* Center fixed element */
  position: fixed;
  top: 50%;
  left: 50%;
  height: 488px;
  width: 300px;
  margin-top: -244px; /* Negative half of height. */
  margin-left: -150px; /* Negative half of width. */
}

.book-form__heading {
  justify-self: center;
}

.book-form__field {
  display: grid;
  gap: 8px;

  input {
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 8px 16px;
    outline-color: $pink;
  }
}

.book-form__checkbox {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 8px;
  align-items: center;
  justify-self: center;

  input {
    accent-color: $pink;
  }
}

.book-form__submit {
  width: 90px;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  justify-self: center;
  background: $pink;
  color: white;
}