/* Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* General style rules */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

/* Variables */
/* Main grid */
.main-grid {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

/* Header */
header {
  background: #c86a6e;
  color: white;
  padding: 32px 8vw;
  position: relative;
  -webkit-box-shadow: 0 4px 4px -4px #a7a7a7;
          box-shadow: 0 4px 4px -4px #a7a7a7;
}

/* Main */
main {
  display: -ms-grid;
  display: grid;
  background: #f8ebe9;
  padding: 32px 8vw;
}

.books {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 48px;
}

.books__book {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  padding: 16px;
  height: 220px;
  border-radius: 8px;
  background: white;
  -webkit-box-shadow: 2px 2px 4px 1px #c5c5c5;
          box-shadow: 2px 2px 4px 1px #c5c5c5;
  color: #c86a6e;
  font-size: 1.2rem;
}

.book__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  justify-items: center;
  gap: 8px;
}

.book__title {
  font-weight: bold;
}

.book__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 16px;
  font-size: 1.4rem;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-grid-row-align: end;
      align-self: end;
}

.book-form {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -ms-grid;
  display: grid;
  gap: 32px;
  background: white;
  -webkit-box-shadow: 2px 2px 4px 1px gray;
          box-shadow: 2px 2px 4px 1px gray;
  padding: 32px;
  color: #c86a6e;
  border-radius: 8px;
  font-weight: 600;
  /* Position hack */
  position: fixed;
  top: 50%;
  left: 50%;
  height: 464px;
  width: 300px;
  margin-top: -232px;
  /* Negative half of height. */
  margin-left: -150px;
  /* Negative half of width. */
}

.book-form__field {
  display: -ms-grid;
  display: grid;
}

.book-form__field input {
  border-radius: 8px;
  border: 1px solid gainsboro;
  padding: 8px 16px;
  outline-color: #c86a6e;
}

.book-form__checkbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.book-form__checkbox input {
  background: #c86a6e;
  accent-color: #c86a6e;
}

.book-form__title {
  -ms-grid-column-align: center;
      justify-self: center;
}

.book-form__submit {
  background: #c86a6e;
  color: white;
  width: 90px;
  border: none;
  border-radius: 90px;
  padding: 10px 16px;
  cursor: pointer;
  -ms-grid-column-align: center;
      justify-self: center;
}

.add-book {
  position: fixed;
  font-size: 1.8rem;
  border: none;
  width: 60px;
  height: 60px;
  background: #c86a6e;
  color: white;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
/*# sourceMappingURL=style.css.map */